[user]
	name = Damien Vielpeau
[branch]
	autosetuprebase = always
[cola]
	fontdiff = Ubuntu Mono,11,-1,5,50,0,0,0,0,0
	boldheaders = true
	spellcheck = false
	expandtab = false
	tabwidth = 8
	textwidth = 80
[gui]
	editor = vim
	diffcontext = 8
[push]
	default = simple
[alias]
	fixup = "!f() { git commit -m\"fixup! $(git log -1 --pretty=%s $1)\"; }; f"
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = auto
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	singleKey = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
