[user]
	email = dvi@outsight.tech
	name = Damien Vielpeau
[branch]
	autosetuprebase = always
[cola]
	fontdiff = Ubuntu Mono,11,-1,5,50,0,0,0,0,0
	boldheaders = true
	spellcheck = false
	expandtab = false
	tabwidth = 8
	textwidth = 120
	theme = flat-dark-grey
	icontheme = dark
[gui]
	editor = vim
	diffcontext = 8
[push]
	default = current
[alias]
	f = "!f() { git commit -m\"fixup! $(git log -1 --pretty=%s $1)\"; }; f"
	co = checkout
	br = branch
	ci = commit
	st = status
	sw = switch
	d = diff
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = auto
[pull]
	rebase = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	singleKey = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[core]
	excludesFile = ~/.gitignore
[rerere]
	enabled = true
[remote "origin"]
	prune = true
[rebase]
	autoSquash = true
	autoStash = true
[init]
	defaultBranch = main
