[user]
	email = damien.vielpeau@withings.com
	name = Damien Vielpeau
[branch]
	autosetuprebase = always
[cola]
	fontdiff = Ubuntu Mono,11,-1,5,50,0,0,0,0,0
	boldheaders = true
[gui]
	editor = vim
[push]
	default = simple
[alias]
	fixup = "!f() { git commit -m\"fixup! $(git log -1 --pretty=%s $1)\"; }; f"
[format]
	pretty = oneline
[log]
	abbrevCommit = true
	decorate = auto
